//Main
$mainColor: #ffca08;
$secondaryColor: #3c4cf0;
$shadowSecondaryColor: rgba(255, 21, 21, 0.67);
$neutralColor: #707070;

//Body
$bgColor: $mainColor, #bc9715;

//Cards
$textColor: #242424;
$buttonColor: #2b36a6;
$buttonTextColor: #ffffff;
$bgCardColor: #ffffff;
$borderColor: #242424;

//Others
$dividerColor: #707070;
