@import "../../assets/colors.scss";

#image {
  position: relative;
}
#timer {
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}
#divTimer {
  // background-color: red;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#pointer {
  // background-color: green;
  border-radius: 100%;

  position: absolute;
  // z-index: 0;
  margin: auto;
  top: 15.5%;
  left: -0.8px;
  right: 0;
}

.light {
  background-color: $mainColor;
}
