@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors.scss";

@include fontRevamped;

:host {
  height: 100vh;
  background-color: red;
  width: 10px;
  border: red;
}

h1 {
  font-family: "Revamped", Arial, Helvetica, sans-serif;
  color: $secondaryColor;
  text-shadow: $shadowSecondaryColor 3px 3px 6px;
  border: #000 3px;
  text-align: center;
  font-size: 40px;
}

div {
  display: flex;
  flex-basis: auto;
  flex-flow: wrap;
  width: 80vw;
  flex: 500px;
  flex-grow: 1;
  margin: auto;
  flex-direction: row;
  & > * {
    flex-grow: 1;
    margin: 10px 20px;
    flex-basis: 0%;
    justify-content: space-around;
  }
  & > *:first-child {
    // height: 100%;
    flex-basis: 60%;
  }
  & > card:nth-child(2) {
    // height: 100%;
    flex-basis: 20%;
  }
  card ~ div {
    align-self: stretch;
    // height: 100%;
    margin: 0;
    & > card {
      width: 100%;
    }
  }
}

footer p {
  text-align: center;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 15px;
  // width: max-content;
}
