<h1>WORKOUT</h1>
<ng-container [ngSwitch]="status">
  <!-- Before start -->
  <div *ngSwitchCase="'notInitialized'">
    <card>
      <exercise-insert
        [exercises]="exercises"
        (onInsertExercises)="exercises = $event"
        (onStart)="status = 'exercise'; timer = $event"
      >
      </exercise-insert>
    </card>
    <card>
      <exercise-list [exercises]="exercises"></exercise-list>
    </card>
  </div>
  <!-- After finish-->
  <ng-container *ngSwitchCase="'finished'">
    <div>
      <card>
        <h2>exercises</h2>
        <p>Great job!</p>
        <button (click)="status = 'notInitialized'">Restart</button>
      </card>
    </div>
  </ng-container>
  <!-- Exercises or rest-->
  <ng-container *ngSwitchDefault>
    <div>
      <card>
        <exercise-current-information
          [status]="status"
          [exercises]="exercises"
          [timer]="timer"
          (setCurrentRep)="currentRep = $event"
          (setDisplayTime)="setDisplayTime($event)"
        ></exercise-current-information>
      </card>
      <div>
        <card>
          <timer [displayTime]="displayTime" [currentRep]="currentRep"></timer>
        </card>
        <card>
          <h2>Give up</h2>
          <button (click)="status = 'notInitialized'">Finish</button>
        </card>
      </div>
    </div>
  </ng-container>
</ng-container>

<footer>
  <p>Developed by Matheus Garrido &copy; {{ year }}</p>
</footer>
